{{ '//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' | stylesheet_tag }}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" defer="defer"></script>

<!---------------------------------------------------------- HTML CONTENT -------------------------------------------------------->

<div>
<p>Please select your Region : </p>
<select class="setting" id="country" onchange="clicked()" placeholder="choose" name="attributes[Country]" required>

  <option class="setting" value="Dubai">Dubai</option>
  <option class="setting" value="Abu Dhabi">Abu Dhabi</option>
  <option class="setting" value="Sharjah">Sharjah</option>
  
</select>
</div>

<br>

<div>
  <p>
    <label for="date">Pick a delivery date:</label>
    <br>
    <input id="date" class="" type="text" name="attributes[Date]" value="{{ cart.attributes.date }}"   required/>
  </p>
</div>


<!-------------------------------------------------- Script Content --------------------------------------------------------------->

<script>

window.onload = function() {

      let x = decodeURIComponent(document.cookie);
      let decoded_country = x.split("; ").find((row) => row.startsWith("Country"))?.split("=")[1];
      let decoded_date = x.split("; ").find((row) => row.startsWith("Date"))?.split("=")[1];
      
      $( "#date" ).datepicker( "destroy" );
      
      let setCountry = document.getElementById('country')
      setCountry.value = decoded_country
     
      let setDate = document.getElementById('date')
      console.log("Date decoded" , decoded_date)
      if(decoded_date != undefined) {
        setDate.value = decoded_date
      }
      else setDate.value = ''
      

      checking()
      
    }


  function clicked(){
    document.getElementById("date").value = '';
    checking()  
         }

    function checking() {
      let e = document.getElementById('country')
            let value = e.value
            setCookie("Country",value,1)
 
            
///////////////////////////////////////////// Setting Count variable if time is before 1:30 /////////////////////////////////////
            
            let d = new Date();
            let m = d.getMinutes();
            let h = d.getHours();

            let c = 0;
            if( h < 13 || (h === 13 && m < 30)) {
                c = 1;
            }

//////////////////////////////////////////////////////////// Checking the conditions /////////////////////////////////////////////////
          
             if(value === 'Dubai' && c === 1) { 
           
                $(function first() {
                $( "#date" ).datepicker( "destroy" );
                $("#date").datepicker({
                minDate: "+0d",
                maxDate: '+2M',
                onSelect:function(date , datepicke) {
                  setCookie("Date",date,1)
                  console.log("the date to be set is:" , date)
                }
                });
               
                });
            }

            else if(value === 'Dubai' || value === 'Abu Dhabi' || value === 'Sharjah') {

                $(function second() {
                $( "#date" ).datepicker( "destroy" );
                $("#date").datepicker({
                minDate: "+1d",
                maxDate: '+2M',
                onSelect:function(date , datepicker) {
                  setCookie("Date",date,1)
                }
                });
                });       
            }   
            else {
              alert("Please select a country")
            }
      
    }

    function setCookie(cname, cvalue, exdays) {
    let d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+ d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";

  }


 
  
</script>

<!---------------------------------------------------------- CSS STYLE ----------------------------------------------------------->

<style>

  #date{
    height: 30px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    font-size: 18px;
    font-family: system-ui;
  }

  #country {
    height: 30px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    font-size: 18px;
    font-family: system-ui;
  }


</style>

