{{ '//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' | stylesheet_tag }}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" defer="defer"></script>


<div>
<p>Please select your Country : </p>
<select name="country_name" id="country" onchange="clicked()" placeholder="choose">
  <option value="Choose Option">Choose Option</option> 
  <option value="Dubai">Dubai</option>
  <option value="Abu Dhabi">Abu Dhabi</option>
  <option value="Sharjah">Sharjah</option>
  
</select>
</div>

<br>

<div style="width:300px; clear:both;">
  <p>
    <label for="date">Pick a delivery date:</label>
    <input id="date" class="" type="text" name="attributes[date]" value="{{ cart.attributes.date }}" onchange = "getDate()" />
   
    
    <span style="display:block" class="instructions"> We do not deliver during the week-end.</span>
  </p>
</div>


<script>
  

  
    



  function clicked(){
            var e = document.getElementById('country')
            var value = e.value
            console.log(value,"this is the country")
            var d = new Date();
            var m = d.getMinutes();
            var h = d.getHours();
           
            console.log("Hour" , m)

            let c = 0;

            if(h<13 && m<30) {
                c = 1;
            }

             if(value == 'Dubai' && c===1) {
               console.log("Working" , value)
               
               
                $(function first() {
                $("#date").datepicker({
                minDate: +0,
                maxDate: '+2M'
                });
                setCookie("country",value,1)
                });
            }
            else {
                $(function second() {
                $("#date").datepicker({
                minDate: +1,
                maxDate: '+2M'
                });
                console.log(value)
                setCookie("country",value,1)
                });
                    
            }   
         }

   

    function getDate() {
    var f = document.getElementById('date').value
    console.log("Date is :" ,f)
    }

    function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+ d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }

  setCookie()
</script>



<style>


</style>

