<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


<p>Date: <input type="text" id="datepicker"></p>

{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type":"text",
        "id":"heading",
        "label":"Heading",
        "default":"Heading"
      }
    ],
    "presets":[{
      "name":"Date Custom"
    }]
    
  }
{% endschema %}

<script>
  $( function() {
    $( "#datepicker" ).datepicker({
        minDate: +1,
        maxDate: '2M'
    });
  } );
  
</script>


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}