<p>Date: <input type="text" id="datepicker"></p>

{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type":"text",
        "id":"heading",
        "label":"Heading",
        "default":"Heading"
      }
    ],
    "presets":[{
      "name":"Date Custom"
    }]
    
  }
{% endschema %}



{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}