

<h1>Date Page Static Heading</h1>
<p>Date is :  {{ "now" | date: "%Y-%m-%d %H:%M" }}</p>
<p>Date: <input type="text" id="datepicker"></p>

{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type":"text",
        "id":"heading",
        "label":"Heading",
        "default":"Heading"
      }
    ],
    "presets":[{
      "category":"date",
      "name":"Date Custom"
    }]
    
  }
{% endschema %}

<script>
  // window.onload = function() {
  //   if(window.jQuery){
  //     let $ = window.jQuery
      
  //   }
  // }
  
  $( function() {
    $( "#datepicker" ).datepicker({
        minDate: +1,
        maxDate: '2M'
    });
  } );
  

  // $ function()
  
</script>


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}