<div style="text-align:center;">
  <h1>{{ product.title }}</h1>
  <br>
  <p>{{ product.description }}</p>



  {% for images in product.images %}
  
  <img src=" {{ images | img_url:"large" }} " />

  {% endfor %}
<br/>
  <h2><strong>Rs {{ product.price }}</strong></h2>
  
</div>


